@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #4f46e5;
  --color-primary-light: #6366f1;
  --color-primary-dark: #3730a3;

  --color-bg-main: #f0f9ff;
  --color-bg-secondary: #e0f2fe;
  --color-bg-card: #ffffff;
  --color-bg-section: #dbeafe;

  --color-text-main: #111827;
  --color-text-secondary: #4b5563;
  --color-text-white: #ffffff;

  --color-border: #bfdbfe;
  --color-border-light: #dbeafe;

  --shadow-card: 0 4px 12px rgba(79, 70, 229, 0.08);
  --shadow-nav: 0 2px 8px rgba(79, 70, 229, 0.06);
}

.dark {
  --color-primary: #818cf8;
  --color-primary-light: #a5b4fc;
  --color-primary-dark: #6366f1;

  --color-bg-main: #0c1a32;
  --color-bg-secondary: #162544;
  --color-bg-card: #1e293b;
  --color-bg-section: #27354a;

  --color-text-main: #f1f5f9;
  --color-text-secondary: #a5b4d6;
  --color-text-white: #ffffff;

  --color-border: #475885;
  --color-border-light: #374151;

  --shadow-card: 0 4px 20px rgba(129, 140, 248, 0.15);
  --shadow-nav: 0 2px 12px rgba(129, 140, 248, 0.1);
}

* {
  font-family: "Outfit Variable", sans-serif;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  transition: background-color 0.3s, color 0.3s;
}